/* Importing the google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #1f574f;

}
.nav-block {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    height: 100px;
    width: 100%;
}

.menu-block {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000px;
    height: 100px;
}
#menu-title {
    padding: 10px 0px 0px 40px;
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 10px;
    font-size: 30px;
    color: rgba(20, 128, 61, 0.911);
    display: inline;
}
.menu-item {
    list-style: none;
    float: right;
    text-align: center;
    padding: 10px;
}

.menu-item li {
    display: inline;
    padding: 30px;
    font-weight: 700;
}

.menu-item li:hover {
    background-color: #268b6a7c;
}

.nav-link {
    text-decoration: none;
    color: rgb(11, 78, 28);
}

.header-image {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.header-text {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
  }

.header-text h1 {
    background: -webkit-linear-gradient(rgb(53, 141, 115), rgb(28, 66, 56));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin-top: 50px;
}

.grid-item {
    text-align: center;
    background-color: white;
    transition: .5s ease;
}

.grid-item img {
    height: 300px;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.name {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(4, 56, 56);
    padding: 10px 10px;
    border-top: solid 2px rgba(28, 119, 48, 0.425);

}

.grid-item:hover {
    transform: scale(1.01);
    opacity: 0.6;
}

a {
    text-decoration: none;
}

.read-block {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 23%;
    top: 60%;
    text-align: center;
}
.grid-item:hover .read-block {
    opacity: 1;
}

.read-block:hover h4{
    background-color: #0b9440;
    transition: 0.7s ease-in-out;
}

.read-block h4 {
    background-color: #113b2a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: sans-serif
}

.footer-block {
    background: white;
    height: 50px;
    margin-top: 50px;
    text-align: center;
}

.footer-block p {
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 13px;
    color: rgba(17, 66, 43, 0.897);
}

.footer-block p a {
    color: rgba(17, 110, 63, 0.753);
}

.footer-block p a:hover {
    color: rgb(17, 110, 64);

}
