.container{
    text-align: center;
    margin-top:23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size: 34px;
    height:65px;
    width:456;
}
button{
    border-radius: 20px;
    font-size: 40px;
    background-color: #978fa0;
    width: 102px;
    height: 90px;
    margin:6px;
}
.calculator{
    border: 4px solid #13695d;
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
h1{
    font-size:28px;
    font-family: 'Courier New', Courier, monospace;
}