*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.header {
  align-items: center;
  background-color: #1e9599;
  /* background-color: #7c83fd; */
  height: 3.5rem;
  /* overflow: hidden; */
}
.header__icon {
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  top: 0.5rem;
  color: white;
  margin-left: 4.8rem;
  /* font-weight: lighter; */
}

.navigation {
  position: relative;
  top: -17px;
  overflow: hidden;
}
.navigation__list {
  list-style: none;
  text-transform: uppercase;
  float: right;
  display: block;
}
.navigation__items {
  display: inline-block;
  padding: 0 2rem;
  color: #940d94;
}
.navigation__links {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  color: transparent;
  color: white;
  
  text-decoration: none;
  transition: all 0.2s ease;
  margin-right: 4.5rem;
}
.navigation__links:link,
.navigation__links:visited {
  opacity: 1;
}
.navigation__links:hover,
.navigation__links:active {
  opacity: 1;
  border-bottom: 2px solid #ffffff;
  /* border-bottom-right-radius: 10%; */
}

.btn__animate,
.btn__animate:link,
.btn__animate:visited {
  position: relative;
  display: inline-block;
  color: #fff338;
  -webkit-animation: moveFromBottom 1s;
  animation: moveFromBottom 1s;
  opacity: 0;
  transition: all 0.2s;
}
.btn__animate:hover {
  color: #53b8bb;
  transform: translateY(-3px);
}
.btn__animate:active {
  transform: translateY(-2px);
}

@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes moveFromLeftBottom {
  0% {
    opacity: 0;
    transform: translate(-40px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromLeftBottom {
  0% {
    opacity: 0;
    transform: translate(-40px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveFromRightBottom {
  0% {
    opacity: 0;
    transform: translate(40px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromRightBottom {
  0% {
    opacity: 0;
    transform: translate(40px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.heading {
  background-image: url(Final-One.png);
  background-size: contain;
  width: 100%;
  height: 100vh;
}
.heading__div {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 45%;
  text-align: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.heading__main {
  margin-top: -50px;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(45deg, #27b9be, #56d3e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: moveFromLeft 1s;
  animation: moveFromLeft 1s;
  transition: all 1s;
}
.heading__paragraph {
  font-size: 1.2rem;
  width: 70%;
  line-height: 1.3;
  margin-bottom: 4rem;
  -webkit-animation: moveFromRight 1s;
  animation: moveFromRight 1s;
}
.heading__btn {
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 3px 3px 0.6rem #999, -3px -3px 0.1rem #fff;
  transition: all 0.2s;
}
.heading__btn:link,
.heading__btn:visited {
  opacity: 1;
}
.heading__btn:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 0.6rem #999, -1px -1px 0.2rem #fff;
}
.heading__btn:active {
  transform: translateY(-1px);
}

@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }
  .header {
  align-items: center;
  background-color: #1e9599;
  /* background-color: #7c83fd; */
  height: 3rem;
  /* overflow: hidden; */
  }
  .header__icon {
    font-size: 1.8rem;
    text-decoration: none;
    position: relative;
    top: 0.5rem;
    color: white;
    margin-left: 1.5rem;
    /* font-weight: lighter; */
  }
  .heading__main {
  /* margin-top: -50px; */
  text-align: center;
  width:100%;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(45deg, #27b9be, #56d3e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: moveFromLeft 1s;
  animation: moveFromLeft 1s;
  transition: all 1s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .heading__div {
    width:90%;
    transform: translate(-45%, -50%);
    flex-wrap: wrap;
    white-space: initial;
    /* padding:1rem; */
    margin-left:-0.5rem;
    margin-top:-50px;
  }
  .voicebuddy {
    flex-direction: row;
  }
  .heading__paragraph {
  font-size: 1rem;
  width: 85%;
  line-height: 1.3;
  margin-bottom: 4rem;
  -webkit-animation: moveFromRight 1s;
  animation: moveFromRight 1s;
  text-align:center;
}
.heading__btn {
  margin-top:20px;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 3px 3px 0.6rem #999, -3px -3px 0.1rem #fff;
  transition: all 0.2s;
  display: flex;
  justify-content:center;
  text-align:center;
  transform: translateX(25%);
}
.heading {
  background-image: url(Mobile-One.png);
  /* background-size: cover; */
  width: 100%;
  height: 90vh;
}
.voicebuddy__voice{
  text-align: center;
}
}
.footer{
  /* z-index: 34; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 1.1rem;
  background-color: #1e9599;
  color: white;
}
