*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #252525;
  color: white;
}

.header {
  align-items: center;
  background-color: #1e9599;
  /* background-color: #7c83fd; */
  height: 3.5rem;
  /* overflow: hidden; */
}
.header__icon {
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  top: 0.5rem;
  color: white;
  margin-left: 4.8rem;
  /* font-weight: lighter; */
}

.navigation {
  position: relative;
  top: -17px;
  overflow: hidden;
}
.navigation__list {
  list-style: none;
  text-transform: uppercase;
  float: right;
  display: block;
}
.navigation__items {
  display: inline-block;
  padding: 0 2rem;
  color: #940d94;
}
.navigation__links {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  color: transparent;
  color: white;
  
  text-decoration: none;
  transition: all 0.2s ease;
  margin-right: 4.5rem;
}
.navigation__links:link,
.navigation__links:visited {
  opacity: 1;
}
.navigation__links:hover,
.navigation__links:active {
  opacity: 1;
  border-bottom: 2px solid #ffffff;
  /* border-bottom-right-radius: 10%; */
}

.voicebuddy {
  padding: 3rem 2rem;
  position: relative;
  top: 10%;
  /* left: 5%; */
  padding-top: 150px;
  height: 100vh;
}

.voicebuddy__left {
  width: 45%;
  height: 250px;
  animation: moveFromLeft 1s;
  float: left;
}
.voicebuddy__options {
  color: #38598b;
  background-color: #fff;
  outline: none;
  width: 80%;
  height: 2rem;
  margin-bottom: 2rem;
}

.voicebuddy__label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}
.voicebuddy__input {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}
.voicebuddy__input:hover {
  opacity: 1;
}
.voicebuddy__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #27b9be;
  cursor: pointer;
}
.voicebuddy__input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #27b9be;
  cursor: pointer;
}
.voicebuddy__top:not(:last-child) {
  margin-bottom: 1.5rem;
}
.voicebuddy__right {
  width: 45%;
  height: 250px;
  float: right;
  position: relative;
  top: -50%;
}
.voicebuddy__textarea {
  width: 100%;
  height: 250px;
  outline: none;
  resize: none;
  overflow: auto;
  border-radius: 3px;
  background-color: white;
  color: #000000;
  animation: moveFromRight 1s;
  padding: 4px;
}
.voicebuddy__textarea::-moz-placeholder {
  color: #3d3d3d;
  opacity: 1;
}
.voicebuddy__textarea:-ms-input-placeholder {
  color: #696969;
  opacity: 1;
}
.voicebuddy__textarea::placeholder {
  color: #4e4e4e;
  opacity: 1;
}

.btn__animate,
.btn__animate:link,
.btn__animate:visited {
  position: relative;
  display: inline-block;
  color: #4ca1af;
  -webkit-animation: moveFromBottom 1s;
  animation: moveFromBottom 1s;
  opacity: 0;
  transition: all 0.2s;
}
.btn__animate:hover {
  color: black;
  transform: translateY(-30px);
}
.btn__animate:active {
  transform: translateY(-2px);
}

.btn {
  display: inline-block;
  margin: 0 35%;
  font-size: inherit;
}
.btn__stop {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  margin-right: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1.5px solid white;
  color: white;
  -webkit-animation: moveFromLeftBottom 1s;
  animation: moveFromLeftBottom 1s;
  transition: all 0.2s;
}
.btn__stop:hover {
  transform: translateY(-4px);
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px #fff;
}
.btn__stop:active {
  transform: translateY(0);
}
.btn__start {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  -webkit-animation: moveFromRightBottom 1s;
  animation: moveFromRightBottom 1s;
  border: 1.5px solid #fff;
  transition: all 0.2s;
}
.btn__start:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 2px #fff;
}
.btn__start:active {
  transform: translateY(0);
}

.voicebuddy__voice {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.voicebuddy__above {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3rem;
}

@media screen and (max-width: 700px) {
  .voicebuddy {
    height: auto;
    flex-direction: column;
  }

  .voicebuddy__above {
    margin-bottom: 3rem;
  }

  .voicebuddy__left {
    width: 90%;
    height: auto;
    margin-bottom: 3rem;
    float: none;
    display: block;
  }
  .voicebuddy__right {
    width: 90%;
    margin-bottom: 2rem;
    float: none;
  }

  .voicebuddy__label {
    margin-right: 2rem;
  }

  .voicebuddy__top {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .voicebuddy__above {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .voicebuddy__choose {
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  
  
}

@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromLeftBottom {
  0% {
    opacity: 0;
    transform: translate(-60px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveFromLeftBottom {
  0% {
    opacity: 0;
    transform: translate(-60px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveFromRightBottom {
  0% {
    opacity: 0;
    transform: translate(60px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveFromRightBottom {
  0% {
    opacity: 0;
    transform: translate(40px, 40px);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.voicebuddy__below {
  margin-left: 70px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.footer{
  /* z-index: 34; */
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 1.1rem;
  background-color: #1e9599;
  color: white;
}
@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }
  .header {
  align-items: center;
  background-color: #1e9599;
  /* background-color: #7c83fd; */
  height: 3rem;
  /* overflow: hidden; */
  }
  .header__icon {
    font-size: 1.8rem;
    text-decoration: none;
    position: relative;
    top: 0.5rem;
    color: white;
    margin-left: 1.5rem;
    /* font-weight: lighter; */
  }
  .heading__main {
  /* margin-top: -50px; */
  text-align: center;
  width:100%;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(45deg, #27b9be, #56d3e4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: moveFromLeft 1s;
  animation: moveFromLeft 1s;
  transition: all 1s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .heading__div {
    width:90%;
    transform: translate(-45%, -50%);
    flex-wrap: wrap;
    white-space: initial;
    /* padding:1rem; */
    margin-left:-0.5rem;
    margin-top:-50px;
  }
  .voicebuddy {
    flex-direction: row;
  }
  .heading__paragraph {
  font-size: 1rem;
  width: 85%;
  line-height: 1.3;
  margin-bottom: 4rem;
  -webkit-animation: moveFromRight 1s;
  animation: moveFromRight 1s;
  text-align:center;
}
.heading__btn {
  margin-top:20px;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 3px 3px 0.6rem #999, -3px -3px 0.1rem #fff;
  transition: all 0.2s;
  display: flex;
  justify-content:center;
  text-align:center;
  transform: translateX(25%);
}
.heading {
  background-image: url(Mobile-One.png);
  /* background-size: cover; */
  width: 100%;
  height: 90vh;
}
.voicebuddy {
  padding: 3rem 0;
  position: relative;
  top: 0%;
  /* left: 5%; */
  padding-top: 50px;
  height: 100vh;
  }
  .voicebuddy__voice{
    display: block;
    text-align: center;
  }
  .voicebuddy__left {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    margin-bottom: 3rem;
  }
  .voicebuddy__option{
    text-align: center;
  }
  .voicebuddy__input {
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.voicebuddy__right {
  width: 100%;
  /* margin: 10px; */
  padding: 10px;
  margin-top: -30px;
  margin-bottom: 2rem;
  float: none;
}
.voicebuddy__below {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: flex;
  justify-content: space-around;
}
.navigation__links {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  color: transparent;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-right: 1.5rem;
}
}